<link rel="stylesheet" href="~/Content/styleLatestNew.css" />
@{
    ViewBag.Title = "Index";
}
<article>
    <h1 class="titledetail"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Configuration Z Fold 5: New hinge, no fold screen and a series of other upgrades</font></font></h1>
    <div class="userdetail">
        <div>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                    Admin
                </font>
            </font>
        </div>
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">08/7/2023</font></font></span>
    </div>
    <div class="imgwrap">
        <img alt="" src="~/Images/Image_latest/LatestNew1_Image1.jpg" title="What's attractive about the Z Fold 5 configuration?">
    </div>
    <h2>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Samsung will hold the next Galaxy Unpacked event on July 26 in South Korea. </font>
            <font style="vertical-align: inherit;">
                It is expected that Samsung will launch a series of new devices, including a new generation of folding phones including Z Flip5 and Z Fold 5.
                Let's join 24h Technology to find out what's new in the configuration of Z Fold 5.
            </font>
        </font>
    </h2>
    <h3>
        <strong>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Configuration Z Fold 5</font>
            </font>
        </strong>
    </h3>
    <p>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                In terms of design, the folding phone Z Fold 5 is not expected to have too many changes compared to the Galaxy Z Fold4, but it will be thinner and a bit more compact.
                At the same time, the Z Fold 5 will be lighter and more durable than the previous generation thanks to the new hinge structure.
            </font>
        </font>
    </p>
    <div class="imgwrap">
        <img alt="" title="What's attractive about the Z Fold 5 configuration?" class="lazyloaded" src="~/Images/Image_latest/LatestNew1_Image2.jpg">
    </div>
    <div class="captionnews">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Leaked render of Galaxy Z Fold 5 (Image: SnoppyTech)</font>
        </font>
    </div>
    <p>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                Z Fold 5 will have improved configuration parameters and new features.
                The device will have a 6.2-inch Infinity-O outer screen and a 7.6-inch main screen with a hidden selfie camera,
                both with a 120 Hz refresh rate and using the same Dynamic AMOLED 2X panel as the previous generation.&nbsp;
            </font>
        </font>
    </p>
    <p>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                Another source said that Samsung can completely remove the fold on the Z Fold 5 folding screen with a new "waterdrop" hinge.
                The new hinge structure could work by allowing some parts of the internal display to roll inside the main body of the phone to prevent the screen from wrinkling.
            </font>
        </font>
    </p>
    <div class="imgwrap">
        <img alt="" title="What's attractive about the Z Fold 5 configuration?" class=" lazyloaded" src="~/Images/Image_latest/LatestNew1_Image3.jpg">
    </div>
    <div class="captionnews">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Galax Z Fold 5 is expected to be equipped with a new hinge design (Image: OnLeaks)</font>
        </font>
    </div>
    <p>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                Z Fold 5 is expected to run the Snapdragon 8 Gen 2 for Galaxy chip equipped on the Galaxy S23 5G Series, comes with 12 GB RAM and 3 versions of 256 GB / 512 GB / 1 TB of internal memory.
                Z Fold 5 is expected to have a 4,400 mAh battery that supports 25 W charging or will be upgraded to 45 W.
            </font>
        </font>
    </p>
    <p>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                Regarding the camera, Z Fold 5 will include a cluster of 3 rear cameras with a 50 MP main camera, a 12 MP ultra-wide-angle camera and a 10 MP telephoto camera.
                At the same time, Samsung will have some sensor tweaks compared to the previous generation and add new camera features.
                The phone will also have a 12 MP selfie camera, which is larger than the 10 MP on the Z Fold4.
            </font>
        </font>
    </p>
    <div class="imgwrap">
        <img alt="" title="What's attractive about the Z Fold 5 configuration?" class=" lazyloaded" src="~/Images/Image_latest/LatestNew1_Image4.jpg">
    </div>
    <div class="captionnews">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                Folding phone Z Fold 5 will have new camera improvements (Image: PhoneArena)
            </font>
        </font>
    </div>
    <p>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                Z Fold 5 is expected to have 3 color versions including Phantom Black, Cream and Ice Blue.
                The phone is also expected to have IP58 water and dust resistance thanks to the new hinge design.
            </font>
        </font>
    </p>
    <p>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Any predictions about the Z Fold 5 configuration?</font>
        </font>
    </p>
    <p>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">You can also refer to&nbsp; other Samsung folding screen phones &nbsp;that are having good prices at&nbsp; Mobile World, by clicking the orange button below.</font>
        </font>
    </p>
    <p>
        <strong style="line-height: 1.6;">
            <a class="postarticle" @*href="https://www.thegioididong.com/dtdd-samsung-galaxy-z"*@
               style="line-height: 20.8px; text-align: center; width: 250px; margin: auto;"
               target="_blank" title="Order Samsung foldable smartphone" type="Đặt mua smartphone Samsung màn hình gập">
                <span style="color: rgb(255, 255, 0);">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">ORDER SMARTPHONE SAMSUNG FLEXIBLE SCREEN</font>
                    </font>
                </span>
            </a>
        </strong>
    </p>
    <p>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">See more:</font>
        </font>
    </p>
    <ul>
        <li>
            @Html.ActionLink("YouTube is about to have a convenient feature, watching videos will be more comfortable now", "Index", "LatestNew_2")
        </li>
        <li>
            @Html.ActionLink("Summer is here, buy these super camera phones to capture the world", "Index", "LatestNew_3")
        </li>
    </ul>
    <span class="btv">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Edited by Tran Minh Hieu</font>
        </font>
    </span>

    @*<form id="frmUnsatf" onsubmit="return SendFebck('#frmUnsatf')" class="hide" method="post" data-value="0">
            <textarea name="txtContent" rows="3" placeholder="Mời bạn góp ý để chúng tôi phục vụ tốt hơn"></textarea>
            <span>Hãy để lại thông tin để được hỗ trợ khi cần thiết (Không bắt buộc):</span>
            <div>
                <label onclick="changeSex(this)" data-sex="1" class="choosed"><i></i>Anh</label>
                <label onclick="changeSex(this)" data-sex="2"><i></i>Chị</label>
            </div>
            <input type="text" name="txtFullName" placeholder="Họ tên">
            <input type="text" name="txtPhoneNumber" placeholder="Số điện thoại">
            <input type="text" name="txtEmail" placeholder="Email">
            <input type="hidden" name="txtSex" value="1">
            <input type="hidden" name="txtNewsId" value="1537443">
            <button type="submit">Gửi góp ý<span>Cam kết bảo mật thông tin cá nhân</span></button>
            <label class="alert" id="alert"></label>
        </form>*@
</article>


