@{
    ViewBag.Title = "shopping_success";
}

<div style="text-align:center;padding:50px"> 
    <div class="ti-check-box" style="color: #030254; font-size: 80px; "></div>
    <div>Order Success</div>
    <div>Thank you for ordering at MOBILE STORE</div>
    <div>Customer support: +84 333 21 05 09 </div>
    <div><a href="/Home">Back to home page</a></div>
</div>

