<link rel="stylesheet" href="~/Content/styleLatestNew.css" />
@{
    ViewBag.Title = "Index";
}
<article>
    <h1 class="titledetail"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">YouTube is about to have a convenient feature, watching videos will be more comfortable now</font></font></h1>
    <div class="userdetail">
        <div>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                    Admin
                </font>
            </font>
        </div>
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">07/07/2023</font></font></span>
    </div>
    <div class="imgwrap">
        <img alt="" src="~/Images/Image_latest/LatestNew2_Image1.jpg" title="YouTube is testing a new feature, let's find out!">
    </div>
    <div class="captionnews">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">YouTube is testing a new feature, let's find out!- Photo: TechCrunch</font>
        </font>
    </div>
    <h2>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                Being passionate about watching videos on YouTube but accidentally clicking on any button will bring a lot of trouble, surely we all have experienced it.
                With this in mind, the YouTube team is making some changes to fix the above issue.
            </font>
        </font>
    </h2>
    <p>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                YouTube Premium users in the Android Police team have discovered that YouTube is testing a new feature that allows users to lock the screen while a video is playing.
            </font>
        </font>
    </p>
    <div class="imgwrap">
        <img alt="" title="Screen lock feature is being tested" class=" lazyloaded" src="~/Images/Image_latest/LatestNew2_Image2.jpg">
    </div>
    <div class="captionnews">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Screen lock feature is being tested - Photo: AndroidPolice</font>
        </font>
    </div>
    <p>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                Since YouTube relies on tap and swipe gestures to search, play/pause, or skip videos, the screen lock feature can help prevent accidental touches.
            </font>
        </font>
    </p>
    <p>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                The new feature is also useful for large devices, which are tiring to hold for long periods of time.
                Lock can be activated to prevent the screen from rotating in the orientation of the device, for more comfort.
            </font>
        </font>
    </p>
    <div class="imgwrap">
        <img alt="" title="The feature is also useful when watching movies on a large screen, which causes hand fatigue when holding for a long time" class=" lazyloaded" src="~/Images/Image_latest/LatestNew2_Image3.jpg">
    </div>
    <div class="captionnews">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                The feature is also useful when watching movies on the big screen, which causes hand fatigue when holding it for a long time - Photo: Shutterstock
            </font>
        </font>
    </div>
    <p>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                This experimental feature will be available to try until the end of July, only accessible to YouTube Premium users.
                Have you tried this feature yet?
            </font>
        </font>
    </p>
    <p>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                If you are passionate about watching YouTube, there is nothing better than being helped by&nbsp; a phone &nbsp;with a huge battery, explore below and choose your favorite model!
            </font>
        </font>
    </p>
    <p>
        <strong>
            <strong style="line-height: 1.6;">
                <a class="postarticle" @*href="https://www.thegioididong.com/dtdd-pin-khung"*@
                   style="margin: auto; width: 250px; text-align: center; line-height: 20.8px;"
                   target="_blank" title="VIEW GENUINE BATTERY PHONES" type="XEM ĐIỆN THOẠI PIN KHỦNG CHÍNH HÃNG">
                    <span data-darkreader-inline-color="" style="color: rgb(255, 255, 0); --darkreader-inline-color: #ffff1a;">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">VIEW GENUINE BATTERY PHONES</font>
                        </font>
                    </span>
                </a>
            </strong>
        </strong>
    </p>
    <p>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Source:&nbsp; </font>
        </font>
        <a rel="nofollow" href="https://www.androidpolice.com/youtube-premium-screen-lock-labs/" target="_blank" title="AndroidPolice" type="AndroidPolice">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">AndroidPolice</font>
            </font>
        </a>
    </p>
    <p>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">See more:</font>
        </font>
    </p>
    <ul>
        <li>
            @Html.ActionLink("Summer is here, buy these super camera phones to capture the world", "Index", "LatestNew_3")
        </li>
        <li>
            @Html.ActionLink("Configuration Z Fold 5 new hinge, no fold screen and a series of other upgrades", "Index", "LatestNew_1")
        </li>
    </ul>
    <span class="btv">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Edited by Tran Minh Hieu</font>
        </font>
    </span>
</article>

